<div class="jumbotron">
  <h2>Readme Generator. Huh?</h2>

  <div>
	  <p class="lead">
	  	This tool helps you generate a proper reame markdown file for your Github project.<br>
      <a href data-ng-click="showMore = true" data-ng-hide="showMore">Read more</a>
	  </p>
  </div>
  <div collapse="!showMore">
  	<p>
  	  While you will still need to write the text yourself, this tool will help you organize your readme file, as well as add common instructions and 3rd party integrations.
    </p>
  </div>
  <p><a class="btn btn-lg btn-success" href="/generate" role="button">Let's generate</a></p>
</div>