$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

@import 'bootstrap-custom';

.form-group.required label:after { 
   content: "*";
   color: $state-danger-text;
}